{% extends 'panel.html' %}


{% block panel-content %}

<div class="container">
    
    {% if mensaje_alerta %}
      <script type="text/javascript">
        alert("{{ mensaje_alerta }}");
      </script>
    {% endif %}
    <form action="" class="row" method="POST">
        {% csrf_token %}
        <div class="col-6">
            <label class="form-label">Total Ingresos:</label>
            {{ form.total_ingresos }}
        </div>
        <div class="col-6">
            <label class="form-label">Total Egresos:</label>
            {{ form.total_egresos }}
        </div>
        <div class="col-12 mt-3">
            <!-- Botón para ver el reporte de ventas realizadas -->
            <a href="{% url 'caja_app:Ventas_Realizadas' %}" class="btn btn-info">Generar PDF de Ventas Realizadas</a>
        </div>
        <button type="submit" class="btn btn-success mt-5 col-2">Cerrar caja</button>
    </form>
</div>


{% endblock panel-content %} 