.fade-in {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* Centrar el formulario */
.form-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;}


