{% extends 'base.html' %}
{% load static %}  


{% block css %}
    <link rel="stylesheet" href="{% static 'css/stylesindex.css' %}">
{% endblock css %}
    

{% block content %}
    
    <div class="d-flex">
        <!-- Sidebar -->
        <div class="sidebar ">
            <h1>Brunnete</h1>
            
        {% if user.is_active %}
            <h5>Cocina</h5>
            {% if not caja_activa %}
            <a href="#">Debes abrir de Caja</a>
            {% else %}
            <a href="{% url 'cocina_app:Mesas' %}">Pedidos</a>
            {% endif %}
            <div class="mt-3">
                <h5>Caja</h5> 
                {% if not caja_activa %}
                <a href="{% url 'caja_app:Nueva_Caja' %}">Apertura de Caja</a>
                {% elif caja_activa_usuario == user.full_name %}
                <a href="{% url 'caja_app:Cierre-caja' %}">Cerrar Caja</a>
                <a href="{% url 'caja_app:Crear_Pedido' %}">Gererar pedido</a>
                <a href="{% url 'caja_app:Lista_Pedidos' %}">Lista Pedidos</a>
                <a href="{% url 'caja_app:Lista_mesas' %}">Mesas</a>
                {% endif %}
            </div>
            <div class="mt-3">
                <h5>Administración</h5>
                <a href="#">Administracion</a>
                <a href="{% url 'users_app:User-Lista' %}">Usuarios</a>
                <a href="#">Reportes</a>
            </div>
        
        {% endif %}
    </div>
        <!-- Contenido principal -->
        <div class=" flex-grow-1 ">
            <!-- Barra superior -->
            <nav class="navbar navbar-expand-lg navbar-dark">
                {% if user.is_active %}
                <div class="container-fluid">
                    <span class="navbar-text">Sesión de: {{ user.full_name }}</span>
                    <a href="{% url 'users_app:User-Logout' %}" class="btn btn-salir ml-auto">Salir</a>
                </div>
                {% endif %}
            </nav>

            <div class=" container-fluid  content min-vh-100">
            {% block panel-content %}
            {% endblock panel-content %}
            <!-- Contenido principal -->
                
            </div>
        </div>
    </div>
    {% endblock content %}