{% extends "panel.html" %}
{% load  static %}
{% block panel-content %}

<div class="container mt-5">
    <h1 class="text-center text-danger">Eliminar Producto</h1>
    <p class="text-center">¿Estás seguro que deseas eliminar el producto <strong>{{ producto.nombre_prod }}</strong>?</p>
    <div class="text-center mt-4">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sí, eliminar</button>
            <a href="{% url 'cocina_app:Productos_List' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>




{% endblock panel-content %}