{% extends "panel.html" %}
{% load  static %}

{% block panel-content %}


<div class="d-flex flex-column min-vh-100">

  <div class="container flex-grow-1">

    <table class="table">
      <thead>
        <tr>
          <th>Email</th>
          <th>Nombres</th>
          <th>Ultima Conexion</th>
          <th>Permisos</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for usuario in usuarios %}
        <tr>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.full_name }}</td>
          <td>{{ usuario.last_login }}</td>
          <td>{{ usuario.get_ocupation_display }}</td>
          <td>
            {% if usuario.is_active %}
              <span class="bg-success text-white">Activo</span>
            {% else %}
              <span class="bg-warning text-black ">De Baja</span>
            {% endif %}
          </td>
          <td>
          <a href="{% url 'users_app:User-Update' usuario.id %}" class="btn btn-info"><i class="bi bi-gear-fill"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container text-center my-4 mt-auto">
    <a href="{% url 'users_app:User-Register' %}" class="btn btn-success">Agregar Nuevo Usuario</a>
  </div>
</div>
{% endblock panel-content %}